.verify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    font-family: Arial, sans-serif;
}

.verify-container p {
    font-size: 24px;
    font-weight: 700;
    margin: 237px 0 62px;
}

.verify-container .btn {
    display: inline-block;
    padding: 20px 33px;
    margin-bottom: 52px;
    font-size: 24px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    background-color: #D9D9D9;
    border: 1px solid #000;
}

.verify-container .btn:hover {
    opacity: .8;
}

.verify-container .link-button {
    text-decoration: none;
    cursor: pointer;
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}

.verify-container .link-button:hover {
    opacity: .8;}