.profile-form__content {
    margin: 0 auto;
    padding: 59px 15px;
    max-width: 1500px;
}

.profile-form__heading {
    margin-bottom: 54px;
    text-align: center;
}

.profile-form__heading h2 {
    font-size: 36px;
    font-weight: 700;
}

.form {
    margin: 0 auto;
    width: 45.33%;
    text-align: center;
    font-weight: 700;
}

.form__group {
    margin-bottom: 38px;
}

.form__group-title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 58px;
    border: 1px solid #ddd;
    border-radius: 4px;
    appearance: none;
    font-size: 20px;
}

.form__button {
    margin-top: 78px;
}

.form__button-submit {
    padding: 15px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
}

.image {
    display: flex;
    align-items: center;
}

.form__group-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.form__group-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.user__image-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #777777;
    display: inline-block;
}

.upload-label {
    margin-left: 40px;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
}

@media screen and (max-width: 850px) {

    .profile-form__content {
        max-width: 850px;
    }

    .profile-form__heading {
        margin-bottom: 40px;
    }

    .profile-form__heading h2 {
        font-size: 24px;
    }

    .form {
        width: 70%;
    }

    .form__group {
        margin-bottom: 26px;
    }

    .form__group-title {
        font-size: 18px;
    }

    .form__button {
        margin-top: 60px;
    }

    .form__button-submit {
        font-size: 18px;
    }
}